body{
  background-color: #FFFFFF;
}
h2{
  border: 1px solid;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
  box-shadow: 10px 10px 20px #51504B;
  width: 85%;
  border-radius: 10px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 30%;*/

}
.card{
  height: 400px;
  margin-top: 10%;
  margin-left: 10%;
  box-shadow: 10px 10px 20px #51504B;
}
.carousel-inner{
  box-shadow: 10px 10px 20px #51504B;
}
.card-text{
  text-align: center;
}
.money{
  color: red;
  float: right;
}
.price{
  float: left;
}
img{
  height: 550px;
}
.card{
  width: 20rem;
  height: 400px;
}
Footer{
  margin-top: 15px;
}
#ig{
  width: 100%;
  height: auto;
}
.carousel-cap {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
}
.carousel-cap h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}
.error{
  color: red;
}
table{
  margin-top: 10px;
}